.service-card{
        height: 300px;
        padding: 10px;
}

.service-card h3{
    border-bottom: none;
    padding-bottom: 0;
}

.service-card{
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-card i{
    color: #0d6efd;
    font-size: 2em;
    margin:25px 0;
}

.service-card h3{
    margin-bottom: 5px;
}

.service-card p{
    text-align: center;
    font-size: small;
}

/* Pour l'affichage mobile */
@media screen and (max-width: 720px) {
    .service-card{
        margin: 0 30px;
    }

        .service-card p {
            text-align: center;
            font-size: medium;
        }
}