.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title .encart {
    border-bottom: 4px solid #0d6efd;
    justify-content: center;
    align-items: center;
}

.title h3{
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
    border-bottom: none;
    margin-bottom: 0;
    font-size: 2.5em;
    text-align: center;
}

.title p{
    font-size: 1em;
    text-align: center;
}


.title img{
    width: 100%;
    object-fit: cover;
    height: 250px;
}


.service-card{
        height: 300px;
        padding: 10px;
}

.service-card h3{
    border-bottom: none;
    padding-bottom: 0;
}

.service-card{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: all .3s ease-in-out;
}

.service-card:hover{
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    transition: all .3s ease-in-out;
    background-color: #efefef;
}

.service-card i{
    color: #0d6efd;
    font-size: 2em;
    margin:25px 0;
}

.service-card h3{
    margin-bottom: 5px;
}

.service-card p{
    text-align: center;
    font-size: small;
}

.project-card{
    transition: all .3s ease-in-out;
}

.project-card:hover{
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    transition: all .3s ease-in-out;
    background-color: #efefef;
}

.project-card a:hover{
    background-color: #3586ff;
}

/* Pour l'affichage mobile */
@media screen and (max-width: 720px) {
    .service-card{
        margin: 0 30px;
    }

        .service-card p {
            text-align: center;
            font-size: medium;
        }
}