footer{
    padding-top: 1.5em;
    display: flex;
    justify-content: space-around;
    color: white;
}

p{
    font-size: 1.5em;
}

address{
    display: flex;
    flex-direction: column;
}
address a{
    color: white;
    text-decoration: none;
}

address a:hover{
    text-decoration: underline;
    opacity: .8;
}

.social-link{
    display: flex;
    gap: .5em;
    font-size: 1.5em;
}

.social-link a{
    color: rgb(181, 181, 181);
    transition: all .3s ease-in-out;
}

.social-link a:hover{
    color: white;
    transition: all .3s ease-in-out;
}

ul{
    list-style: none;
    padding-left: 0;
}

ul a{
    text-decoration: none;
    color: white;
    transition: all .3s ease-in-out;
}

ul a:hover{
    transition: all .3s ease-in-out;
    font-weight: 600;
}

/* Pour l'affichage mobile */
@media screen and (max-width: 720px) {
    footer{
        flex-direction: column;
        padding-left: 2em;
        gap: 1em;
    }
}


