.hero-block{
    background-image: url('../assets/images/hero-bg.jpg');
    height: 500px;
    width: 100vw;
    opacity: .8;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    color: white;
}

h1{
    /* font-size: 2em; */
    font-weight: bold;
}

h2{
    font-weight: bold;
}

.card{
    display: flex;
    flex-direction: row;
    transition: all .3s ease-in-out;
}

.card:hover{
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    transition: all .3s ease-in-out;
    background-color: rgb(245, 245, 245);
}

h3{
    border-bottom: solid 3px #0d6efd;
    padding-bottom: 10px;
    margin-bottom: 40px;
    font-weight: bold;
}

.about-skills-block img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

span{
    text-transform: uppercase;
}

@media screen and (max-width: 720px) {
    .card{
        flex-direction: column;
        margin: 0 15px;
    }
}