.card{
    display: flex;
    flex-direction: row;
    transition: all .3s ease-in-out;
}

.card:hover{
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    transition: all .3s ease-in-out;
    background-color: rgb(245, 245, 245);
}

h3{
    border-bottom: solid 3px #0d6efd;
    padding-bottom: 10px;
    margin-bottom: 40px;
    font-weight: bold;
}

img{
    width: 100%;
}

span{
    text-transform: uppercase;
}

@media screen and (max-width: 720px) {
    .card{
        flex-direction: column;
        margin: 0 15px;
    }
}